{"filter":false,"title":"style.1.styl","tooltip":"/public/css/style.1.styl","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1460836517814,"hash":"51f9feac753ccf8dfc43388e45250979409e6947"}